div.home {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 700px;
    text-align: center;

}

section.random {
    display: block;
    text-align: center;
    margin-top: 10px;
    height: 450px;

}

img {
    margin: 10px;
}

h3.home {
    display: flex;
    margin-top: 10px;
    color: black;
}

button.search {
    margin-left: 2px;
}