div.plant-page {
    height: 1000px;
    margin-left: 10px;
}
h2.name {
    display: block;
    color: black;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
