header {
    height: 150px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    display: block;
    color: white;
    margin-top: 145px;
    margin-left: 5px;
    width: 180px;
    border: 5px solid white;
}

/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:#1975ff;
    color: white;
    margin-top: 25px;
    padding: 10px;
}
*/