header {
    height: 150px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    display: block;
    color: white;
    margin-top: 145px;
    margin-left: 5px;
    width: 180px;
    border: 5px solid white;
}